body {
	background-color: #00DDDD;
}
.twitImg {
}
th,td {
	font-size: 20pt;
}
.twitText {
	font-size: 30pt;
}
#tweetHead {
	float: left;
	height: 100%;
	weight: 100%;
}
#tweetBoxs {
	height: 100%;
	weight: 100%;
}
#map {
	position: fixed !important;
	position: absolute;
}
.dataTable {
	background-color: #00FFFF;
	width: 100%;
}
